# Q1. What is a database? Differentiate between SQL and NoSQL databases.

A1. A database is a collection of data that is organized and stored in a way that allows for efficient retrieval, manipulation, and management of data. Databases can be used to store various types of data such as text, numbers, images, and videos.

SQL (Structured Query Language) and NoSQL (Not Only SQL) are two different types of database management systems.

SQL databases, also known as relational databases, are based on a tabular schema, where data is stored in tables with predefined columns and rows. SQL databases use a set of standardized commands, known as SQL, to access and manipulate data. SQL databases are ideal for applications that require complex querying, and for applications that need to maintain strong data consistency and integrity.

On the other hand, NoSQL databases are based on a non-tabular schema and use a more flexible data model, such as document-oriented, key-value, graph, or column-family. NoSQL databases do not rely on a fixed schema and can handle unstructured and semi-structured data more efficiently than SQL databases. NoSQL databases are ideal for applications that require high scalability and availability, as well as for applications that deal with large volumes of data.

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

A2. DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used to define and manage the structure of a database. DDL statements are used to create, modify, and delete database objects such as tables, views, indexes, and constraints.

Here are the explanations and examples of the four commonly used DDL statements:

CREATE: The CREATE statement is used to create new database objects such as tables, views, and indexes. For example, the following statement creates a new table called "employees" with columns for employee ID, name, age, and salary:
CREATE TABLE employees (
  employee_id INT PRIMARY KEY,
  name VARCHAR(50),
  age INT,
  salary DECIMAL(10, 2)
);

DROP: The DROP statement is used to remove a database object such as a table or index. For example, the following statement drops the "employees" table:
DROP TABLE employees;

ALTER: The ALTER statement is used to modify the structure of an existing database object. For example, the following statement adds a new column called "department" to the "employees" table:
ALTER TABLE employees ADD COLUMN department VARCHAR(50);

TRUNCATE: The TRUNCATE statement is used to remove all rows from a table, but keep the table structure intact. For example, the following statement removes all rows from the "employees" table:
TRUNCATE TABLE employees;

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manipulate data stored in a database. DML statements are used to insert, update, and delete data in database tables.

Here are the explanations and examples of the three commonly used DML statements:

INSERT: The INSERT statement is used to add new rows to a table. For example, the following statement adds a new row to the "employees" table with values for employee ID, name, age, salary, and department:
INSERT INTO employees (employee_id, name, age, salary, department)
VALUES (1, 'John Smith', 35, 50000, 'Sales');

UPDATE: The UPDATE statement is used to modify existing rows in a table. For example, the following statement updates the salary of the employee with an ID of 1 in the "employees" table:
UPDATE employees
SET salary = 60000
WHERE employee_id = 1;

DELETE: The DELETE statement is used to remove rows from a table. For example, the following statement removes the employee with an ID of 1 from the "employees" table:
DELETE FROM employees
WHERE employee_id = 1;

# Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve data from a database. DQL statements are used to retrieve data stored in database tables.

The SELECT statement is the most commonly used DQL statement, and is used to retrieve data from one or more tables. Here is an example SELECT statement:

SELECT employee_id, name, age, salary
FROM employees
WHERE department = 'Sales'
ORDER BY salary DESC;

# Q5. Explain Primary Key and Foreign Key.

A Primary Key is a column or a set of columns in a table that uniquely identifies each row in the table. The primary key is used to ensure that each row in the table can be uniquely identified and accessed. It also enforces data integrity by preventing duplicate rows in the table. A table can have only one primary key, and it must be unique and not null.

For example, in a table of employees, the employee_id column could be the primary key since it uniquely identifies each employee in the table. If another table needs to reference this table, it can use the employee_id column as a foreign key.

A Foreign Key is a column or set of columns in a table that refers to the primary key of another table. It establishes a relationship between two tables based on the values in the columns. The foreign key is used to ensure referential integrity between the tables, meaning that the data in the tables remain consistent and accurate.

For example, if we have another table called "departments", we can create a foreign key in the "employees" table that refers to the "departments" table's primary key. The foreign key column in the "employees" table would reference the primary key column in the "departments" table, establishing a relationship between the two tables based on the department ID.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

To connect MySQL to Python, we need to use a MySQL connector package. The most commonly used MySQL connector package for Python is "mysql-connector-python". Here is a code snippet to connect to MySQL and perform a SELECT query using Python:

import mysql.connector


mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)


mycursor = mydb.cursor()


mycursor.execute("SELECT * FROM employees")


results = mycursor.fetchall()


for row in results:
  print(row)


the cursor() method is used to create a cursor object, which is used to execute SQL statements and fetch the results. The execute() method is used to execute SQL statements on the database through the cursor object.

# Q7. Give the order of execution of SQL clauses in an SQL query.